.red {
  width: 70%;
  height: 83vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5rem;
}
.blue {
  width: 30%;
  height: 83vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  padding: 10px;
  color: white;
}

.main-home {
  background-color: #bed7ff53;
}

.imgMovile {
  height: 550px;
  width: 270px;
}

.description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  padding-top: 20px;
}

.tutorial1 {
  width: 250px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}

.tutorial1 > img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
}

.tutorial {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 6rem;
}

.buttonMazo {
  border: solid black 1px;
  border-radius: 12px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.441);
}

.videoClash {
  width: 400px;
  height: 411px;
  position: absolute;
}

.borderWhite {
  text-align: center;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.bn54 {
  position: relative;
  outline: none;
  text-decoration: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  height: 50px;
  width: 200px;
  opacity: 1;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.6);
}

.bn54 .bn54span {
  color: white;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.7px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.bn54:hover {
  animation: bn54rotate 0.7s ease-in-out both;
}

.bn54:hover .bn54span {
  animation: bn54storm 0.7s ease-in-out both;
  animation-delay: 0.06s;
}

@keyframes bn54rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

@keyframes bn54storm {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }
  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }
  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }
  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}

@media (max-width: 1030px) {
  .main-home {
    padding: 0 0;
    width: 100vw;
    gap: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 45rem;
  }

  .tutorial {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .imgMovile {
    width: 270px;
  }

  .blue {
    width: 100%;
    padding: 0;
  }
}
