.all-decks {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5rem;
}
.extra {
  background-color: var(--primary-yellow-orange);
}

.all-decks > a > button {
  border: solid black 2px;
  padding: 20px;
  width: 150px;
  border-radius: 12px;
}

#blackpintar {
  color: black;
}

.active {
  color: white;
}

.mazofinal > a {
  color: white;
}

.all-cards {
  width: 100%;
  margin-bottom: 2rem;
}

.decks {
  background-image: url('https://res.cloudinary.com/dqoiir5ii/image/upload/v1677324626/ClashRoyale/360_F_257717689_dOEzjdOvMhY2lZbsWM1eVGum8v7yTBWx_o4vgl6.png');
  object-fit: cover;
  background-size: 100%;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.btn {
  border: 2px solid black;
  border-radius: 8px;
  padding: 7px;
}

.btn1 {
  border: 2px solid black;
  border-radius: 8px;
  padding: 1px;
}

.cr-figureDeck {
  width: 130px;
  height: 300px;
  padding: 12px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4px;
  flex-wrap: wrap;
  text-align: center;
  background-image: url('https://res.cloudinary.com/dqoiir5ii/image/upload/v1677258776/ClashRoyale/3bec9a888fd77bb74349d7e6b02c32e8_p1ay6d.jpg');
  color: white;
  font-size: 14px;
  text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000, 3px 3px 0 #000;
  border: solid var(--light-blue) 2px;
}
